.app{
      display: flex;
      justify-content: center;
      align-items: center;
    
    }


.box{
    width: 400px;
      height: 200px;
      background-color: lightblue;
      border: 2px solid blue;
      padding: 10px;
      margin: 20px;
      border-radius: 8px;
      text-align: center;
      
}

.form{
  text-align: center;
}
.form >button{
  width: 70px;
  height: 40px;
  background-color: brown;
  padding: 10px;
  margin: 5px;
      border-radius: 8px;
      text-align: center;
      color: bisque;

}


